body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
button {
    transition: all .3s ease-in-out;
    outline: none!important;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.btn {
    margin: 0 5px 5px 0;
}

.btn.pull-right {
    margin: 0 0 5px 5px;
}

.btn-d,
.btn-d:hover,
.btn-d:focus {
    color: #FFF;
    background: rgba(0, 0, 0, .3);
}

button {
    outline: none!important;
}

.btn-rd {
    border-radius: 40px;
}

.btn-clean {
    border: 1px solid rgba(0, 0, 0, .08);
    border-bottom-color: rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
}

.icon-lg {
    font-size: 60px!important;
}

.sm-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.snapshot-lb .modal-body {
    padding-bottom: 45px;
}

.snapshot-lb .lightbox-caption {
    padding: 0;
    color: rgba(0, 0, 0, .5);
    background: none;
}

h1,
h2,
h3,
p,
.btn,
a {
    font-family: "helvetica";
    font-weight: 400;
    color: #575757!important;
}

.container {
    max-width: 1000px;
}

.hero-bloc-text {
    font-size: 38px;
}

.hero-bloc-text-sub {
    font-size: 36px;
}

p {
    font-size: 16px;
}

.tight-width-whitespace {
    max-width: 600px;
    margin: auto auto auto auto;
}

.h1 {
    font-size: 20px;
    font-family: "Open Sans";
}

.cta-hero {
    margin-top: 22px;
    color: #FFFFFF!important;
    text-transform: uppercase;
    padding: 12px 28px 12px 28px;
    font-size: 16px;
    font-weight: 700;
}


h2 {
    font-size: 22px;
    line-height: 1.4em;
}

h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333333!important;
}

h1 {
    color: #333333!important;
}

h4 {
    color: #333333!important;
}

.icons {
    margin-bottom: 14px;
    margin-top: 24px;
}

.white {
    color: #FFFFFF!important;
}

.portfolio-thumb {
    margin-bottom: 24px;
    width: 90%;
}

.portfolio-row {
    margin-bottom: 44px;
    margin-top: 50px;
}

.avatar {
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
}

.black-background {
    background-color: rgba(165, 147, 99, 0.7);
    padding: 40px 40px 40px 40px;
}

.bold-link {
    font-weight: 900;
    text-decoration: underline!important;
}

.bgc-white {
    background-color: #FFFFFF;
}

.bgc-dark-slate-blue {
    background-color: #364577;
}

.bgc-atomic-tangerine {
    background-color: #F3976C;
}

.tc-white {
    color: #FFF!important;
}

.btn-atomic-tangerine {
    background: #F3976C;
    color: #FFFFFF!important;
}

.btn-atomic-tangerine:hover {
    background: #c27956!important;
    color: #FFFFFF!important;
}

.ltc-white {
    color: #FFFFFF!important;
}

.ltc-white:hover {
    color: #cccccc!important;
}

.ltc-atomic-tangerine {
    color: #F3976C!important;
}

.ltc-atomic-tangerine:hover {
    color: #c27956!important;
}

.icon-dark-slate-blue {
    color: #364577!important;
    border-color: #364577!important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {

}

@media (max-width: 991px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .page-container {
        overflow-x: hidden;
        position: relative;
    }
    h1,
    h2,
    h3,
    p,
    #disqus_thread {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }

    .bloc-xxl,
    .bloc-xl,
    .bloc-lg {
        padding: 40px 0;
    }

    .btn-dwn {
        display: none;
    }
    form {
        padding: 5px;
    }
}

/* modifications */

.italic-font{
    font-style: italic;
}

.skinny-font{
    font-size: 18px;
}

header{
    padding: 20px 50px;
}

.banniere{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-image: url(img/agence-la-panthere.webp);
    background-size: cover;
    background-position: center;
}

.services{
    text-align: center;
}

.presentation{
    color:white;
    background-image: url("img/image-de-presentation.webp");
    text-align: center;
    display: flex;
    justify-content: center;
}

main{
    background-image: url(img/lines-h2-bg.png);
    text-align: center;
}

article>a, article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1,h2,h3{
    margin-top: 10px;
    margin-bottom: 20px;
}

footer{
    background-color: #F3976C;
    padding-top: 1px;
}

.social{
    max-width: 400px;
    margin: auto auto auto auto;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
#contact{
    background-image: url(img/agence-la-panthere.webp);
    color: white;
    text-align: center;
    padding: 10px;
}
/* formulaire */
.form-group{
    width: 100%;
}
.form-control{
    width: 90%;
    border-color: rgba(0, 0, 0, .1);
    box-shadow: none;
}


.icon-md{
    color: white;
    padding: 5px;
    font-size: 30px
}

/* Et-icon*/

@font-face {
    font-family: et-line;
    src: url(../fonts/et-line.eot);
    src: url(../fonts/et-line.eot?#iefix) format('embedded-opentype'), url(../fonts/et-line.woff) format('woff'), url(../fonts/et-line.ttf) format('truetype'), url(../fonts/et-line.svg#et-line) format('svg');
    font-weight: 400;
    font-style: normal
}

.et-icon-browser,
.et-icon-edit,
.et-icon-presentation{
    font-family: et-line;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block
}

.et-icon-presentation:before {
    content: "\e00e"
}

.et-icon-edit:before {
    content: "\e01c"
}

.et-icon-browser:before {
    content: "\e00c"
}

